.baha-post-comment {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: var(--bpc-font-size, '15px');
	background: var(--bpc-bgcolor, var{--bpc-bgcolor-odd, 'transparent'});
	width: 100%;
}

.baha-post-comment:nth-child(even) {
	background: var(--bpc-bgcolor, var{--bpc-bgcolor-even, 'transparent'});
}

.baha-post-comment :global(.bpc-side-left) {
	margin-right: 0.75em;
	display: var(--bpc-side-left-display, 'block');
}

.baha-post-comment :global(.bpc-avatar) {
	width: var(--bpc-avatar-size, 36px);
	height: var(--bpc-avatar-size, 36px);
	transition-property: width, height;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	border-radius: var(--bpc-avatar-border-radius, 0px);
}

.baha-post-comment :global(.bpc-main) {
	display: inline-block;
	flex: 1;
	transition-property: width;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	max-width: 100%;
	width: var(--bpc-main-max-width, 100%);
}

.baha-post-comment :global(.bpc-main-header) {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5em;
}

.baha-post-comment :global(.bpc-main-header-title) {
	font-weight: bold;
}

.baha-post-comment :global(.bpc-main-header-metadata) {
}

.baha-post-comment :global(.bpc-main-body) {
	line-height: 1.5;
}

@keyframes bpcl-item-animator-fadein {
	0% {
		opacity: 0;
		top: -2em;
	}
	100% {
		opacity: 1;
		top: 0;
	}
}

.baha-post-comments-listing {
}

.baha-post-comments-listing :global(.bpcl-item-animator) {
	position: relative;
	animation: bpcl-item-animator-fadein 0.35s;
}

.baha-post-comments-listing :global(.bpcl-item) {
	border: 0;
	border-top: 1px solid #f00;
	padding: 0.75em 1em;
	width: 100%;
}
