.gallery-folders {
}

.gallery-folders :global(.gallery-folders-item) {
	@apply tw-p-2 tw-cursor-pointer tw-bg-baha tw-bg-opacity-0 hover:tw-bg-opacity-20 data-[active=true]:tw-bg-opacity-20;
}

.gallery-folders :global(.gallery-folders-icon) {
	font-size: 1.25em;
	vertical-align: text-bottom;
	margin-right: 0.25em;
}

.gallery-container {
	@apply tw-h-full tw-flex tw-flex-col tw-relative;
}

.gallery-container :global(.gallery-container-body) {
	@apply tw-flex-1 tw-overflow-y-scroll;
}

.gallery-container :global(.gallery-grid) {
	@apply tw-grid tw-grid-cols-4 tw-gap-1;
}

.gallery-container :global(.gallery-grid-item) {
	@apply tw-border tw-border-solid tw-border-neutral-400 hover:tw-border-neutral-600 tw-aspect-square tw-bg-contain tw-bg-center tw-bg-no-repeat tw-cursor-pointer;
	@apply data-[selected=true]:tw-border-4 data-[selected=true]:tw-border-red-500;
}
